[Interface]
PrivateKey = {{ lookup('file', '/etc/wireguard/clients/' ~ item ~ '.key') | trim }}
Address = {{ wireguard_client_ips[item].split('/')[0] }}
DNS = 1.1.1.1, 1.0.0.1

[Peer]
PublicKey = {{ lookup('file', '/etc/wireguard/server_public.key') | trim }}
AllowedIPs = {{ vpn_cidr }}, {{ proxmox_network_cidr }}
Endpoint = {{ inventory_hostname }}:51820
PersistentKeepalive = 25
