[Interface]
PrivateKey = {{ lookup('file', '/etc/wireguard/private.key') | trim }}
Address = {{ wireguard_client_ip }}
ListenPort = 51820

[Peer]
PublicKey = {{ wireguard_server_public_key }}
AllowedIPs = {{ wireguard_allowed_ips }}
Endpoint = {{ wireguard_server_ip }}:51820
PersistentKeepalive = 25
